<section class="narrow-box">
  <h2 class="page-title"><span>Hyper Cube</span></h2>
  <h3>Predefined queries</h3>
  <ul>
    <li>
      <a href="<%#= request.getContextPath()%>/quByAreaMonths">
        Manoeuvres by Areas, months, ship name, tonnage, length
      </a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quByNegativeCard">
        Manoeuvres by negative assesment
      </a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quManoeuvresByPilot">
        Manoeuvres by pilot
      </a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quVisitsByShip">Visits by ship</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quVisitsByArea">Visits by Area</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quVisitsByTime">Visits by Time</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quVisitsByPlace">Visits by mooring place</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quOperationsByAgent">Operations by Agency</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quNegativesByCriteria">Negative results by criteria</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/quDriverByTime">Driver by time</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/editAgent">Edit agency list</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/listInstr?offset=0&records=5">List instructions 5 by page</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/searchInstr">Search instructions</a>
    </li>
    <li>
      <a href="<%#= request.getContextPath()%>/addInstr">Add new instruction</a>
    </li>
  </ul>
</section><!-- //.narrow-box -->
