<section class="narrow-box">
  <h2 class="page-title"><span>Login</span></h2>
  <div id="declaration">
    <h3><%= t("Декларация") %></h3>
    <p>
      <%= t("Съгласно изискванията на Заповед № 515 / 30.06.1999 г. на Дирекция „Морска Администрация Варна“, с въвеждането на потребителското си име и парола декларирам, че застъпвам на дежурство в трезво състояние и, че не съм употребявал алкохол и/или други упойващи средства през изминалите 8 часа.") %>
    </p>
  </div>
  <form action="j_security_check" method="post">
    <fieldset>
      <div class="form-row">
        <label for="j_username">User name:</label>
        <input type="text" size="15" name="j_username" id="j_username" tabindex="1" />
      </div><!-- //.form-row -->
      <div class="form-row">
        <label for="j_password">Password:</label>
        <input type="password" size="15" name="j_password" id="j_password" tabindex="2" />
      </div><!-- //.form-row -->
      <div class="form-row submit">
        <input class="button" type="submit" value="Submit" tabindex="3" />
      </div><!-- //.form-row submit -->
    </fieldset>
  </form>
</section><!-- //.narrow-box -->
