<h3><%#= messages.getString("quManoeuvresByPilot") %></h3>
<form method="POST" onSubmit="return submitCheck()">
  <table cellpadding="0" cellspacing="0">
    <tr> 
      <td>
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td>Select the pilot:</td>
            <td>
              <%# mhash=beanManager.getHandy().getOptOfPilots(); %>
              <select name="PlayerID"  >
                <logic:iterate collection="<%#= mhash %>" id="mh" type="java.util.Map.Entry"> 
                  <option value="<bean:write name="mh" property="value" />" >
                    <bean:write name="mh" property="key" /> 
                  </option>
                </logic:iterate> 
              </select>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <input name="fromYear" type="text" value="<%#= cal.get(Calendar.YEAR) %>" size="4" >
              <select name="fromMonth">
                <%# for (int i=0; i<12; i++) { out.print("<option "+((cal.get(Calendar.MONTH)==i)?"SELECTED":"")+" value=\""+(i+1)+"\">"+messages.getString("Month"+(i+1))); } %>
              </select>
              <select name="fromDay">
                <%# for (int i=1; i<32; i++) { out.print("<option "+((cal.get(Calendar.DAY_OF_MONTH)==i)?"SELECTED":"")+" value=\""+i+"\">"+i); } %>
              </select>
            </td>
            <td>
              <select name="fromHour">
                <%# for (int i=0; i<24; i++) { out.print("<option "+((cal.get(Calendar.HOUR_OF_DAY)==i)?"SELECTED":"")+" value=\""+i+"\">"+i); }%>
              </select>
              : 
              <select name="fromMin">
                <%# for (int i=0; i<60; i+=5) { out.print("<option "+((cal.get(Calendar.MINUTE)==i)?"SELECTED":"")+" value=\""+i+"\">"+i); } %>
              </select>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <input name="toYear" type=text value="<%#= cal.get(Calendar.YEAR) %>" size=4 >
              <select name="toMonth">
                <%# for (int i=0; i<12; i++) { out.print("<option "+((cal.get(Calendar.MONTH)==i)?"SELECTED":"")+" value=\""+(i+1)+"\">"+messages.getString("Month"+(i+1))); } %>
              </select>
              <select  name="toDay">
                <%# for (int i=1; i<32; i++) { 
    out.print("<option "+((cal.get(Calendar.DAY_OF_MONTH)==i)?"SELECTED":"")+" value=\""+i+"\">"+i);	
    } %>
              </select>
            </td>
            <td>
              <select name="toHour">
                <%# for (int i=0; i<24; i++) { out.print("<option "+((cal.get(Calendar.HOUR_OF_DAY)==i)?"SELECTED":"")+" value=\""+i+"\">"+i); }%>
              </select>
              : 
              <select name="toMin">
                <%# for (int i=0; i<60; i+=5) { out.print("<option "+((cal.get(Calendar.MINUTE)==i)?"SELECTED":"")+" value=\""+i+"\">"+i); } %>
              </select>
            </td>
            <td>
              <input type="submit" name="go" value="Go" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td>
        <logic:present parameter="PlayerID">
<%#
ArrayList logs=beanManager.getHandy().getNotesByPilot(Integer.parseInt(request.getParameter("PlayerID")),
    java.sql.Timestamp.valueOf(
                    request.getParameter("fromYear")+"-"+
                    request.getParameter("fromMonth")+"-"+
                    request.getParameter("fromDay")+" "+
                    request.getParameter("fromHour")+":"+
                    request.getParameter("fromMin")+":00.00"),
    java.sql.Timestamp.valueOf(
                    request.getParameter("toYear")+"-"+
                    request.getParameter("toMonth")+"-"+
                    request.getParameter("toDay")+" "+
                    request.getParameter("toHour")+":"+
                    request.getParameter("toMin")+":00.00")
);
int counter=1;
%>
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td colspan="7"> 
                Manoeuvres of <%#= beanManager.getHandy().getPlayerFullName(Integer.parseInt(request.getParameter("PlayerID"))) %> 
              </td>
            </tr>
            <tr>
              <td>No.</td>
              <td><%#= messages.getString("FromTime")%></td>
              <td><%#= messages.getString("ToTime")%></td>
              <td><%#= messages.getString("PilotNote")%></td>
              <td><%#= messages.getString("ShipName")%></td>
              <td><%#= messages.getString("FromArea")%></td>
              <td><%#= messages.getString("ToArea")%></td>
            </tr>
          </thead>
          <tbody>
            <logic:iterate collection="<%#= logs %>" id="ld" type="com.varnapage.epilots.util.LogbookDetails" > 
              <%# ShipDetails sd=beanManager.getLogbookController().getShipDetails(ld.getLogbookId()); %>
              <tr>
                <td><%#= counter++ %></td>
                <td><%#= ld.getFromTime() %></td>
                <td><%#= ld.getToTime() %></td>
                <td>
                  <%#= ( beanManager.getAcardController().isProblematicByLogID(ld.getLogbookId()) >0 )?"<img src=images/ball.red.gif>":"" %>
	          <a href="<%#=request.getContextPath()%>/viewMan?LogID=<%#= ld.getLogbookId() %>">
                    <%#= ld.getLogbookId() %>
                  </a>&nbsp;
	          <%#= ld.getSaved()?"":"Not saved"%>&nbsp;<%#= ld.getChecked()?"":"Not checked"%>&nbsp;
                  <%#= (ld.getPlayerID()==ld.getEditorID())?"":"Changed!" %> 
                </td>
                <td>
                  <a href="<%#= request.getContextPath()%>/shipControl?IMONumber=<%#= sd.getIMONumber() %>">
                    <%#= sd.getShipName() %>
                  </a> 
                </td>
                <td><%#= beanManager.getHandy().getPlaceName(ld.getFromAreaID()) %></td>
                <td><%#= beanManager.getHandy().getPlaceName(ld.getToAreaID()) %></td>
              </tr>
            </logic:iterate> 
          </tbody>
        </table>
</logic:present>
</td>
    </tr>
  </table>

</form>


