<address class='primary'>
<%= link_to "Влез", new_session_path(:user), :class => "rule" %>
<%= link_to "Регистрирай се", new_registration_path(:user), :class => "plus" %>
<a href="#" class="email">Свържи се с нас</a>
</address>
