<ul>
  <li style="float: right;"><%= tab_to "За нас", [ {:controller => "page", :action => "about" } ] %></li>
	<li><%= tab_to "Dashboard", [{:controller => "admin/dashboard" }] %></li>
  <li><%= tab_to "Agent", [{:controller => "admin/agents" }] %></li>
</ul>
