<ul>

	<li style="float: right;"><%# tab_to t("Настройки"), [{:controller => "agent/settings"}] %></li>

	
	<li><%= tab_to t("Работен плот"), [{:controller => "agent/dashboard"}] %></li>
	<li><%= tab_to t("Заявки"), [ agent_orders_path ] %></li>
  <!--
	<li><%= tab_to t("Анонси"), [{:controller => "admin/announcements" }] %></li>
  -->
</ul>

