<section class="box" id="activity">
<div id="slideshow"></div>
<div class='copy'>
<hgroup>
<h1>Пилотска дейност</h1>
</hgroup>
<p>
  Пилотска дейност се извършват от четири пилотски смени от по 6 пилота.
  Всяка смяна застъпва в дежурство по утвърден от Управителя график 
  сутрин в 08:00 часа и осигурява плътно 24-часово присъствие и готовност, при много добри условия за отмора и почивка. Пилотите ползват индивидуални морски УКВ станции за връзка. Всеки един разполага с лични зимни и летни спасителни средства. Спасителните средства както на пилотите, така и на пилотските катери се подновяват регулярно.
</p>
<h2>Ръководител на смяна</h2>
<p>
  Дейността на всяка смяна се контролира от Ръководител на смяна - действащ пилот от I-ва КС с минимум 5 години стаж. избран от пилотите в смяната въз основа на личностни и професионални качества.
</p>
<h2>Дежурен диспечер</h2>
<p>
  Оперативното ръководство на всяка смяна се осъществява от Дежурен диспечер. Неговите задължения са да:
  <ul>
    <li>приема и обобщава заявките на корабните агенти за маневри</li>
    <li>организира изпълнението на тези маневри в съответствие с изискванията на ИА Морска Администрация</li>
    <li>приема изпълнението на маневрите съгласно заявките на пристанищата и заводите в района чрез осигуряване на пилот от смяната, буксири и швартовчици</li>
    <li>осигури транспорт на пилота по вода и суша</li>
    <li>контролира хода на изпълнение на маневрите</li>
    <li>регистрира документално и докладва на Управителя констатирани несъответствия от всякакъв характер</li>
  </ul>
</p>
<h2>Транспорт</h2>
<p>
  Транспортът на пилотите се осигурява от три пилотски катера - един голям и два по-малки, отговарящи на всички конвенционални изисквания и комплектовани с квалифицирани екипажи, с едновременно 24-часово посменно дежурство, както и от три автомобила с повишена проходимост, със сменни шофьори.
</p>
<p>
  Екипажите на катерите и шофьорите работят по график, определен от Управителя и осигуряват 24-часово дежурство 365 дни в годината. Графиците за всички смени се изработват в края на всеки месец от Мениджъра по качество и безопасност и се утвърждават от Управителя.
</p>
</div>
</section>
