<section class="box" id="policy">
<div id="slideshow"></div>
<div class='copy'>
<hgroup>
<h1>Кодекс на добрата практика на европейските морски пилоти</h1>

<h2>Основни положения</h2>
</hgroup>
<p>
  Основното задължение на пилота е да използва своите умения и знания, за да предпазва корабите от сблъскване или засядане, като провежда безопасно тяхната навигация и маневриране, докато се намират в пилотажни води.
</p>

<p>
  Пилотът има допълнително задължение като представител на Държавата и пилотската организация на борда на кораба.
</p>

<hgroup>
<h2>Пилота е длъжен:</h2>
</hgroup>
<p>
  Да не встъпва в дежурство, а по време на дежурството да не извършва пилотаж, ако е преуморен или се намира под въздействието на неподходящи лекарства, наркотични вещества или алкохол;
</p>
<p>
  Да води всеки пилотиран кораб с цялата дължима грижа и старание, които са необходими, за да се предпази както екипажа, така и кораба, други кораби, хора и съоръжения;
</p>
<p>
  Да взема всички необходими мерки за опазване на околната среда;
</p>
<p>
  Да изготвя предварителен "passage plan", съобразен с местните условия;
</p>
<p>
  Да осигурява обмен на подходяща информация с капитана относно кораба и предстоящия пилотаж;
</p>
<p>
  Да подпомага безопасната навигация и маневриране на други кораби в пилотажния район, докато самият той извършва пилотаж, в случай, че това е безопасно и необходимо;
</p>
<p>
  Да съблюдава всички приложими закони и разпоредби, включително и особено Решения и Препоръките на IMO;
</p>
<p>
  Да оказва помощ на всички заинтересовани морски и други агенции в съответствие с съответните правила и изисквания. По-специално да провежда до знанието на съответните власти случаите на неспазване на закони, правилници или разпоредни;
</p>
<p>
  Да взема всички необходими мерки за лична безопасност докато се качва, слиза или се намира на борда на кораба;
</p>
<p>
  Да използва и работи с оборудването на кораба по подходящ начин;
</p>
<p>
  Да бъде вежлив, учтив, отзивчив и да уважава всички членове на екипажа, намиращи се на борда на кораба или на което и да е друго място в работната зона, като особено зачита разликите в расата, пола, религията или културата;
</p>
<p>
  Да си сътрудничи, да уважава и подпомага всички останали пилоти с цел осигуряване на безопасни, експедитивни и ефективни пилотски услуги;
</p>
<p>
  Да поддържа добър външен вид и сътрудничество по време на дежурство;
</p>
<p>
  Да поддържа възможно най-добра физическа и умствена форма, каквато се изисква за изпълнение на задачите, налагани от характера на работата;
</p>
<p>
  Да не прави ненужни допълнителни разходи в хода на изпълнение на пилотрските си задължения;
</p>
<p>
  Да бъде етичен и почтен;
</p>
<p>
  Да действа законосъобразно в съответствие с цялото местно публично законодателство и разпоредби;
</p>
<p>
  Да спазва и действа в съответствие с всички правилници и разпоредби, прието от която и да е компетентна Морска Администрация;
</p>
<p>
  Да докладва незабавно на съответната Морска Администрация за всеки случай на нередност, повредени или липсващи навигационни средства;
</p>
<p>
  Надлежно да подържа и използва оборудването за лична безопасност в съответствие с практиката за безопасна работа;
</p>
<p>
  Да поддържа необходимите професионалните знания за правилното изпълнение на пилотските си задължения;
</p>
<p>
  Да се осведомява за най-новите постижения в областта на корабостроенето, корабното оборудване, морското право и други въпроси, свързани с работата на пилота;
</p>
<p>
  Да следи най-актуалната информация относно местата навигация и хидрологичната и метеорологичната обстановка;
</p>
<p>
  Да съблюдава и своевременно да изпълнява всички административни задачи;
</p>
<p>
  Да спазва надлежно духа и целите на Хартата за пилотската дейност на ЕМПА и всички други официални препоръки, приети от ЕМПА.
</p>

<ul style="float:right">
  <li>Антверпен,</li>
  <li>33 Общо събрание ЕМПА</li>
  <li>Май, 1997 г.</li>
</ul>
</div>
</section>
<section id='sidebar'>
<nav>
<ul>
<li><%= link_to "Политика към клиента", policy_path %></li>
</ul>
</nav>
</section>
