<section class="box" id="policy">
<div id="slideshow"></div>
<div class='copy'>
<hgroup>
<h1>Политика към клиента</h1>
<h2>Пилотска Станция Варна-П декларира следните принципи по отношение на работата със своите клиенти:</h2>
</hgroup>
<p>
  Политиката и целите на организацията са в състояние да осигуряват пилотска услуга в съответствие с международните стандарти ISO 9001:2000 и ISPO Code и да отговорят адекватно на изискванията на клиентите.
</p>
<p>
    Организацията ще разпредели своите ресурси така, че да отговори по справедлив и честен начин на очакванията и изискванията на клиента.
  </p>
  <p>
    Организация "Пилотска станция Варна-П" ЕООД поема ангажимента да предупреждава своите клиенти при всеки конфликт на интереси, съгласно клаузите на договорите.
  </p>
  <p>
    "Пилотска станция Варна-П" ЕООД уведомява своите клиенти за всяка потенциална опасност или други неприемливи ситуации по изпълнение на двустранните ангажименти.
  </p>
  <p>
    "Пилотска станция Варна-П" ЕООД уважава поверителния характер на деловите взаимоотношения със своите клиенти.
  </p>
  <p>
    Организацията няма да извършва нерегламентирани дейности.
  </p>
  <p>
    Организацията стриктно се придържа към законодателството и нормативната база на Република България за управление на специфичната дейност, която извършва.
  </p>
</div>
</section>
<section id='sidebar'>
<nav>
<ul>
<li><%= link_to "Кодекс на пилота", pilot_code_path %></li>
</ul>
</nav>
</section>

