<section class="box" id="activity">
<div id="slideshow"></div>
<div class='copy'>
  <hgroup>
  <h1>Цени</h1>
  <h2>пилотажен район Бургас</h2>
  </hgroup>
  <div class="general_table_border">
    <table id="prices" cellspacing="0" cellpadding="5" border="0">
      <thead>
        <tr align="center">
          <th class="head">БАЗА</th>
          <th colspan="5" class="head">АКВАТОРИЯ НА МАНЕВРИРАНЕ</th>
        </tr>
        <tr>
          <th>ПЪЛЕН КОРАБЕН ТОНАЖ</th>
          <th>БУРГАС-ЦЕНТЪР, ДЕВИАЦИЯ</th>
          <th>БУРГАС ЗАПАД,  КРЗ, КСЗ, ТЕРМИНАЛ 2А</th>
          <th>ПРИСТАНИЩЕ РОСЕНЕЦ, ХХ А м.<br />
            ВЪНШЕН ПИЛОТАЖ, НЕСЕБЪР, СОЗОПОЛ, ПОМОРИЕ, ЦАРЕВО</th>
          <th>ПРЕМЕСТВАНЕ В РАЙОНА НА ПРИСТАНИЩЕ, СМЯНА НА РЕЙДОВА СТОЯНКА</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GT</td>
          <td>EUR</td>
          <td>EUR</td>
          <td>EUR</td>
          <td>EUR</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2 </td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>До 500</td>
          <td>130</td>
          <td>150</td>
          <td>180</td>
          <td>150</td>
        </tr>
        <tr>
          <td>От 500 до 1000</td>
          <td>160</td>
          <td>180</td>
          <td>220</td>
          <td>180</td>
        </tr>
        <tr >
          <td>От 1000 до 2000</td>
          <td>190</td>
          <td>210</td>
          <td>260</td>
          <td>210</td>
        </tr>
        <tr >
          <td>От 2000 до 3000</td>
          <td>230</td>
          <td>250</td>
          <td>300</td>
          <td>250</td>
        </tr>
        <tr >
          <td>От 3000 до 4000</td>
          <td>240</td>
          <td>280</td>
          <td>340</td>
          <td>280</td>
        </tr>
        <tr >
          <td>От 4000 до 5000</td>
          <td>260</td>
          <td>300</td>
          <td>380</td>
          <td>300</td>
        </tr>
        <tr >
          <td>От 5000 до 6000</td>
          <td>290</td>
          <td>330</td>
          <td>420</td>
          <td>330</td>
        </tr>
        <tr >
          <td>От 6000 до 7000</td>
          <td>320</td>
          <td>360</td>
          <td>450</td>
          <td>360</td>
        </tr>
        <tr >
          <td>От 7000 до 8000</td>
          <td>360</td>
          <td>390</td>
          <td>480</td>
          <td>390</td>
        </tr>
        <tr >
          <td>От 8000 до 9000</td>
          <td>400</td>
          <td>420</td>
          <td>510</td>
          <td>420</td>
        </tr>
        <tr >
          <td>От 9000 до 10000</td>
          <td>420</td>
          <td>450</td>
          <td>540</td>
          <td>450</td>
        </tr>
        <tr >
          <td>Над 10000<br /> За всеки 1000 GT+</td>
          <td>50</td>
          <td>60</td>
          <td>70</td>
          <td>60</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</select>
<section id='sidebar'>
<nav>
<ul>
  <li><%= link_to "Таблица 1 - Цени Варна", price_table_1_path %></li>
  <li><%= link_to "Таблица 2 - Цени Бургас", price_table_2_path %></li>
</ul>
</nav>
</section>
