<section class="box" id="activity">
<div id="slideshow"></div>
<div class='copy'>
  <hgroup>
  <h1>Цени</h1>
  <h2>пилотажен район Варна</h2>
  </hgroup>
  <div class="general_table_border">
    <table id="prices" cellspacing="0" cellpadding="5" border="0">
      <thead>
        <tr>
          <th class="head">БАЗА</th>
          <th colspan="5" class="head">АКВАТОРИЯ НА МАНЕВРИРАНЕ</th>
        </tr>
        <tr>
          <th>ПЪЛЕН КОРАБЕН ТОНАЖ</th>
          <th>ВАРНА ИЗТОК, БУЙ 9, ПРЕМЕСТВАНЕ КОТВА ЕЗЕРО</th>
          <th>ПЕТРОЛ, ТАНКЕРИ, ВК, КРЗ, ПЧМВ</th>
          <th>ЛЕСПОРТ, ТЕРЕМ Ф.А., ДЕЛФИН, ТРАНСТРОЙ<br />П-ЩЕ ОДЕСОС</th>
          <th>ТЕЦ,<br />БАЛЧИК</th>
          <th>ТЕЦ ВАРНА-ЗАПАД, ФЕРИБОТ-КОМПЛЕКС</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>GT</td>
        <td>EUR</td>
        <td>EUR</td>
        <td>EUR</td>
        <td>EUR</td>
        <td>EUR</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr>
        <td>До 1000</td>
        <td>125</td>
        <td>145</td>
        <td>215</td>
        <td>235</td>
        <td>325</td>
      </tr>
      <tr>
        <td>От 1000 до 2000</td>
        <td>150</td>
        <td>175</td>
        <td>255</td>
        <td>285</td>
        <td>375</td>
      </tr>
      <tr>
        <td>От 2000 до 3000</td>
        <td>175</td>
        <td>205</td>
        <td>295</td>
        <td>335</td>
        <td>425</td>
      </tr>
      <tr>
        <td>От 3000 до 4000</td>
        <td>200</td>
        <td>235</td>
        <td>335</td>
        <td>385</td>
        <td>475</td>
      </tr>
      <tr>
        <td>От 4000 до 5000</td>
        <td>225</td>
        <td>265</td>
        <td>375</td>
        <td>435</td>
        <td>525</td>
      </tr>
      <tr>
        <td>От 5000 до 6000</td>
        <td>250</td>
        <td>295</td>
        <td>415</td>
        <td>485</td>
        <td>575</td>
      </tr>
      <tr>
        <td>От 6000 до 7000</td>
        <td>275</td>
        <td>325</td>
        <td>455</td>
        <td>535</td>
        <td>625</td>
      </tr>
      <tr>
        <td>От 7000 до 8000</td>
        <td>300</td>
        <td>355</td>
        <td>495</td>
        <td>585</td>
        <td>675</td>
      </tr>
      <tr>
        <td>От 8000 до 9000</td>
        <td>325</td>
        <td>385</td>
        <td>535</td>
        <td>635</td>
        <td>725</td>
      </tr>
      <tr>
        <td>От 9000 до 10000</td>
        <td>350</td>
        <td>415</td>
        <td>575</td>
        <td>685</td>
        <td>775</td>
      </tr>
      <tr>
        <td>Над 10000<br />За всеки 1000 GT+</td>
        <td>45</td>
        <td>45</td>
        <td>50</td>
        <td>60</td>
        <td>60</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</select>
<section id='sidebar'>
<nav>
<ul>
<li><%= link_to "Таблица 1 Цени Варна", price_table_1_path %></li>
<li><%= link_to "Таблица 2 Цени Бургас", price_table_2_path %></li>
</ul>
</nav>
</section>
