<section class="box" id="policy">
  <div id="slideshow"></div>
  <div class="copy">
    <hgroup>
      <h1 style="text-align:center;">Цени и заплащане на пилотските услуги <br/>в Черноморските пристанища и териториалните води<br/> на Република България</h1>
      <h3 style="float:right;">в сила от 01 януари,  2008 год.</h3>
    </hgroup>

    <h2>І. ОСНОВАНИЕ</h2>

    <p>
      Глава девет, РАЗДЕЛ ІV, чл. 238 б, т/2/ и член 244 от Кодекса НА Търговското Корабоплаване и “Наредба за условията и реда за осъществяване на пилотската дейност в Република България”
    </p>

    <h2>ІІ. ПРИЛОЖНО ПОЛЕ</h2>

    <p>
      1. Извършваните от пилотските компании пилотски услуги на корабособствениците съгласно “НАРЕДБА ЗА УСЛОВИЯТА И РЕДА ЗА ОСЪЩЕСТВЯВАНЕ НА ПИЛОТ-СКАТА ДЕЙНОСТ В РЕПУБЛИКА БЪЛГАРИЯ”.
    </p>
    <p>
      2. Извършените пилотски услуги се заплащат по Таблица 1 за ПИЛОТАЖЕН РАЙОН ВАРНА и по Таблица 2 за ПИЛОТАЖЕН РАЙОН БУРГАС.
    </p>

    <h2>ІІІ. ОБЩИ УСЛОВИЯ</h2>

    <p>
      1. Пилотските услуги се извършват по писмена заявка от Капитана на кораба, Корабособственика или неговия Агент.
    </p>
    <p>
      2. За всяка извършена пилотска услуга, Пилотът изготвя ПИЛОТСКА ЗАПИСКА – PILOT NOTE / PILOT BILL / съдържаща идентификационните данни за кораба и базови размери за пресмятане цената на пилотската услуга и фактурирането и. 
    </p>
    <p>
      3. ПИЛОТСКАТА ЗАПИСКА е първичен документ, удостоверен за истинност с подписа на Капитана и корабния печат. При невъзможност да се изготви Записка на кораба, такава може да бъде подписана и подпечатана от Корабния агент. 
    </p>
    <p>
      4. Цените на пилотските услуги са определени и заплащат в единната европейска валута ЕUR на база пълния корабен тонаж – GT за конкретния кораб и акватория в която се извършва услугата. 
    </p>
    <p>
      5. В цената на пилотската услуга са включени разходите по ползуване на морски и други транспортни средства за придвижване на пилота. 
    </p>
    <p>
      6. Външен пилотаж за Пилотажен район Бургас – цената се определя по колона 4 на Табл.2 като за кораби над 10000 GT увеличението за всеки 1000 GT е 20 EUR, а за Варна по колона 6 от Таблица 1.. 
    </p>
    <p>

      <h2>ІV. СПЕЦИАЛНИ УСЛОВИЯ</h2> 
    <p>
      1. Цените на пилотските услуги се заплащат с 50% намаление при:
    </p>
    <ol>
      <li>Прекратяване на започната маневра или отказ за извършване на такава, при престой /изчакване/ на пилота на борда на кораба повече от ½ часа.</li>
      <li>Маневра за преместване на кораба по кея, без отдаване на всички швартови въжета.</li>
    </ol>
    <p>
      2. ЦЕНИТЕ НА ПИЛОТСКИТЕ УСЛУГИ СЕ ЗАПЛАЩАТ С 10% НАМАЛЕНИЕ ПРИ: 
    </p>

    <ol><li> Пилотиране на пътнически кораби </li></ol>

    <p>3. ЦЕНИТЕ НА ПИЛОТСКИТЕ УСЛУГИ СЕ ЗАПЛАЩАТ С 20% УВЕЛИЧЕНИЕ ПРИ:</p> 

    <ol><li>Пилотиране на кораби с опасен товар на борда</li></ol> 

    <p>4. ЦЕНИТЕ НА ПИЛОТСКИТЕ УСЛУГИ СЕ ЗАПЛАЩАТ С 50% УВЕЛИЧЕНИЕ ПРИ:</p> 

    <ol>
      <li>Пилотиране на кораб без възможност за използване на собствения му движител. </li>
      <li>Извършване на пилотски услуги по въвеждане и извеждане на кораби във, и от плаващи докове, и подемни съоръжения. </li>
      <li>В дните обявени за национални и официални празници. </li>
      <li>Пилотски проводки, за които съгласно Задължителните правила на портовете или изрично от Морската администрация има изискване за двама пилоти или пилот с пилотски стаж повече от 5 години. </li>
      <li>Пилотски услуги за осигуряване на лимбировъчни операции на рейда. </li>
      <li>Въвеждане и извеждане в пристанищна акватория,без швартовка на кей, по цената за съответната акватория. </li>
      <li>Преместване на кораби между пристанищните басейни, без излизане от каналната система - по колона 3 на Таблица 2 за пилотажен район Бургас и разликата от таксите за двата басейна плюс 50% от колона 2 за Пристанище Варна. </li>
    </ol>

    <p>5. ЦЕНИТЕ НА ПИЛОТСКИТЕ УСЛУГИ СЕ ЗАПЛАЩАТ СЪС 100% УВЕЛИЧЕНИЕ ПРИ:</p> 

    <ol>
      <li>Пилотиране на кораби с опасни товари на борда за които има специално изискване от Морската администрация.</li> 
      <li>Пилотски услуги за осигуряване на лимбировъчни операции извън рейда.</li> 
      <li>Всички специфични, нестандартни маневри, нерегламентирани от задължителните правила на съответните пристанища.</li> 
    </ol>


    <h2>V. ЗАПЛАЩАНЕ НА ПИЛОТСКИТЕ УСЛУГИ</h2> 

    <p>1. Пилотската компания фактурира в срок от три работни дни след последната пилотска услуга на името на Корабособственика всичките пилотски услуги на кораба му в EUR, а за Българските кораби в BGN.</p> 

    <p>2. Корабния агент е длъжен в срок от седем работни дни от издаване на фактурата да извърши разплащането по нея.</p> 

    <h2>VІ. ПРИЛОЖЕНИЯ</h2> 

    <ul>
      <li>Таблица 1. <%= link_to "Цени на пилотските услуги в пилотажен район Варна", :controller => "page", :action => "price_table_1" %></li>
      <li>Таблица 2. <%= link_to "Цени на пилотските услуги в пилотажен район Бургас", :controller => "page", :action => "price_table_2" %></li>
    </ul>

    <h2>VIІ. ЗАКЛЮЧИТЕЛНИ РАЗПОРЕДБИ</h2> 

    <p>1. Настоящите “ЦЕНИ И ЗАПЛАЩАНЕ НА ПИЛОТСКИТЕ УСЛУГИ В ЧЕРНОМОРСКИТЕ ПРИСТАНИЩА И ТЕРИТОРИАЛНИ ВОДИ НА РЕПУБЛИКА БЪЛГАРИЯ” отменят същите от 01.07.2003 год. и влизат в сила от 01 юни, 2006 год.</p> 

    <p>2. Всякакви промени в цените на пилотските услуги ще бъдат обявявани най-малко един месец преди въвеждането им.</p> 


    <p>
      15.11.2007 год. 
      БУРГАС
    </p>
    <p style="float:right">
      <i>президент на Българска Морска Пилотска Асоциация:</i>
      <b>к.д.п. К. Тодоров</b> 
    </p>
    <p style="float:right">
      <i>управител на “Пилотска станция Варна–П” ЕООД:</i> 
      <b>к.д.п. Н. Дамянов</b> 
    </p>
    <p style="float:right">
      <i>управител на “Пилотска станция Бургас” ООД:</i> 
      <b>к.д.п. Ил.Славов</b> 
    </p>
  </div>
</section>

<section id='sidebar'>
  <nav>
    <ul>
      <li><%= link_to "Таблица 1 - Цени Варна", price_table_1_path %></li>
      <li><%= link_to "Таблица 2 - Цени Бургас", price_table_2_path %></li>
    </ul>
  </nav>
</section>
