<div id="main-welcome">
  <h2>Здравейте и добре дошли,</h2>
  <p>
    Вие сте в помощната страницата на "Пилотска станция Варна-П". Тук може да заявите своята маневра в електронен вариант, но ако желаете да научите повече за фирмата, моля заповядайте на нашата официална страница: <a href="http://www.varnapilots.com">varnapilots.com</a>.
  </p>
  <br/>
  <p>
    За да направите заявка за маневра трябва да се <%= link_to link_to "РЕГИСТРИРАТЕ", new_registration_path(:user) %>, но ако вече сте го направили може да <%= link_to "ВЛЕЗЕТЕ", new_session_path(:user) %> с Вашето потребителско име.
  </p>
</div>


<div class="hrule">
<hr>
</div>

<%= render :partial => "shared/rotate_images" %>

