<% content_for :header do -%>
  <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => 'admin/dashboard/sidebar' %>
<% end -%>

<h3><%= t("Това е работният екран на системата, от тук може да направите нова заявка или да проследите състоянието на старите.") %></h3>

<br/>
