          <ul>
            <li>
              <%= link_to 'dashboard', pilotage_root_path, :class => 'main', :title => 'Main page' %>
            </li>
            <li>
              <%# link_to 'Ship Control Page', shipControl_path, :class => 'shipControl', :title => 'Ship Control Page' %>
            </li>
            <li>
              <%# link_to 'Forthcomming Manoeuvres', forthMan_path, :class => 'forthMan', :title => 'Forthcomming Manoeuvres' %>
            </li>
            <li>
              <%# link_to 'Ship Location', shipLocation_path, :class => 'shipLocation', :title => 'Ship Location' %>
            </li>
            <li>
              <%# link_to 'Hyper Cube', hyperCube_path, :class => 'hyperCube', :title => 'Hyper Cube' %>
            </li>
            <li>
              <%# link_to 'Accountant Control', accControl_path, :class => 'accControl', :title => 'Accountant Control' %>
            </li>
            <li>
              <%# link_to 'Pilotage Control', logControl_path, :class => 'logControl', :title => 'Pilotage Control' %>
            </li>
            <li>
              <%# link_to 'Logoff', logoff_path, :class => 'logoff', :title => 'Logoff' %>
            </li>
          </ul>
